*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Gimbal-Extended";
    src: url('../fonts/Gimbal\ Extended\ Regular.otf') format('truetype'),
}

:root {

    --clr-white: #fafafa;
    --clr-dark: #161616;
    --clr-light-green: #a2ffbc;
    --clr-dark-green: #50cb73;
    --clr-shadow-green: #308348;
    --clr-text-shadow: #173b21;

    --spacing: 0.25rem;
}

html {
    font-size: 62.5%;
}

@keyframes pulsar {
    0%, 100% {
      transform: scale(1);
      box-shadow: 0 0 10px var(--clr-dark-green);
    }
    50% {
      transform: scale(1.03);
      box-shadow: 0 0 20px #ececec;
    }
  }

  @keyframes arrow{
    from {
        top: 7rem;
    }
    to{
        top: 11rem;
    }
  }

  body{
    background-image: url(../assets/Home.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
  }

  .text1{
    margin-top: 2rem;
    font-family: "Gimbal-Extended";
    font-weight: bold;
    width: 90%;
    text-align: center;
    font-size: 1.4rem;
    background-color: var(--clr-dark-green);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0.5rem 0.5rem 1rem var(--clr-text-shadow);
    position: relative;
  }

  .text1 p{
    text-shadow: 0.5rem 0.5rem 1rem var(--clr-text-shadow);
    line-height: 2rem;
    color: var(--clr-white);
    
  }

  .text1 i{
    color: var(--clr-white);
    font-size: 4rem;
    font-weight: 100;
    position: absolute;
    right: 17rem;
    top: 7rem;
    animation: arrow .7s ease-in 0s infinite alternate;
  }

  .text2{
    display: none;
  }

  .imgFone{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }
  .imgFone img{
    width: 36rem;
    margin-top: -72rem;
  }

  .btnFone{
    position: absolute;
    bottom: 10rem;
    border: none;
    padding: 10px;
    border-radius: 1rem;
    background-color: var(--clr-light-green);
    color: var(--clr-dark);
    font-size: 1.6rem;
    cursor: pointer;
    transition: .2s ease-in;
    animation: pulsar 1.5s infinite ease-in-out;
    transform-origin: center;
    box-sizing: border-box;  
    will-change: transform;  
  }

  .btnFone:hover{
    background-color: var(--clr-dark);
    color: var(--clr-light-green);
  }

